@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --color-red: #F03C42;
    --color-blue: #222374;
    --color-grey: #CCCCCC;
    --color-white:#FFFFFF;
    --color-black: #000000;
}

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header{
      background-color: var(--color-red);
      height: 70px;
      display: flex;
      align-items: center;
  }

  nav h1 {
      color: var(--color-white);
      font-size: 18px;
    }

 nav p{
     color: var(--color-white);
     font-size: 14px;
     padding-left: 10px;
 }

 .Container{
     width: 100%;
     max-width: 960px;
     margin: 0 auto;
 }

 .nav-content{
     display: flex;
     justify-content: space-between;
     padding-right: 50px;
     padding-left: 50px;
 }

 .instagram-img{
     display: flex;
     align-items: center;

 }